<div id="contents" class="clearfix">
  <div class="s-left">
    <div class="left-allow">
      <button id="l-allow-button"><%= image_tag("allows_left.png", :alt => "button") %></button>
    </div>
  </div>
  <div class="s-center">
    <div id="map3d"></div>
  </div>
  <div class="s-right">
    <div class="right-allow">
      <button id="r-allow-button"><%= image_tag("allows_right.png", :alt => "button") %></button>
    </div>
  </div>
</div>

<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= javascript_include_tag "moon_stereo/google_earth.js" %>
<%= javascript_include_tag "moon_stereo/math3d.js" %>
<%= stylesheet_link_tag "moon_stereo/index.css" %>
<%= javascript_include_tag "moon_stereo/layout.js" %>
